body {
    margin: 1% 28% 1% 24%;
}
#header {
    display: flex;
    flex-direction: row;
}
#logo {
    display: inline-block;
    width: 30px;
}

#name {
    font-style: bold, oblique;
    font-family: brush script, cursive;
}

#name-text {
    font-size: .5em;
}

#top {
    float: right;
}
#social-media {
    align: right;
    margin-right: 10px;
}

#utilities {
    justify-content: flex-end;
}

#line {
    display: block;
    background-image: url(img/hr-img.png);
    background-repeat: repeat-x;
    padding: 10px;
}

h1 {
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header {

}
#post-date {
    font-size: .5em;
}

#print {
    font-size: .5em;
    float: right;
}

#hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#words {
    opacity: 0.5;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    background-image: url("img/list-bg.png");
}
#two-lists {
    display: inline-block;
    margin-left: 200px;
}

#list-one {
    display: inline-block;
    text-decoration-style: ;

}

#list-two {
    display: inline-block;
}

#bio {
    display: inline-block;
}

h2 {
    font-size: small;
}

footer {
    margin-top: 10px;
}

#footer-pic {
    margin-left: auto;
    margin-right: auto;
}

#footer-copyright {
    font-size: .5em;
    text-align: center;
    list-style-type: none;
}